.env
.env.*

.git
.gitignore

.venv/
venv/
__pycache__/
**/__pycache__
*.pyc
.pytest_cache/

*.log
logging/
logs/

**/target/
**/dbt_packages/
**/logs/

.vscode/
.idea/
.DS_Store
Thumbs.db

docker-compose*.yml
Dockerfile
.dockerignore